<div class="wrapper">

	<div class="g--4-4">

		<form [formGroup]="form" novalidate>

			<input 	type="text"
				   	placeholder="name"
				   	formControlName="name">

			<input 	type="text"
				   	placeholder="description"
				   	formControlName="description">

			<input 	type="checkbox"
					id="isActiveCheck"
					formControlName="isActive">

			<app-custom-select formControlName="customerUUID" [list]="customers" ></app-custom-select>

		</form>

		<button (click)="createProj()">ADD</button>
		<p>
			Form Data: <br>
			{{form.value | json}}
		</p>
	</div>

</div>
<div class="wrapper">

	<app-project-plate *ngFor="let proj of projects" [project]="proj"></app-project-plate>

</div>
