<div class="centeredContent">
	<div class="wrapper">
		<div class="g--4-4">
			<div class="w--400px m0auto {{ failed ? 'shake' : '' }}">
				<div class="bg--cl-secondary p--10">
					<h3 class="fc--cl-bright">login</h3>
				</div>
				<div class="p--10 bg--cl-lgray">
					<form [formGroup]="form" novalidate>
						<input class="textInput"
							   type="text"
							   placeholder="email/username"
							   formControlName="user">

						<div class="spacer--10"></div>

						<input class="textInput"
							   type="password"
							   placeholder="password"
							   formControlName="password">
						<div class="spacer--10"></div>
						<div class="actionBar">
							<a class="btn btn--full bg--cl-gray fc--cl-bright" [routerLink]="['/register']">
								<span>register</span>
							</a>
							<button class="btn btn--full ml--10 bg--cl-primary fc--cl-bright"
									(click)="performLogin()"
									[disabled]="form.invalid || idle">login</button>
						</div>
					</form>
				</div>
				<div class="errorBar pl--10 pr--10 pb--10 bg--cl-lgray" [style.opacity]="error.length < 1 ? 0 : 1">
					<p class="fc--cl-alert ta--center">&nbsp;{{error}}&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</div>

