<div class="wrapper">
	<div class="g--1-4">&nbsp;</div>
	<div class="g--2-4" [hidden]="createNew">
		<button (click)="createNew = true" class="mt--10 btn btn--full bg--cl-succes fc--cl-bright">create</button>
	</div>
	<div class="g--2-4" [hidden]="!createNew">
		<app-customer-plate [createMode]="true" (created)="createdCallback()"></app-customer-plate>
	</div>
	<div class="g--1-4">&nbsp;</div>

</div>

<div class="wrapper">

	<div class="g--4-4">
		<div class="cardItemHolder">
			<!-- todo dont use pipe, sort array on stream emit in component logic -->
			<app-customer-plate *ngFor="let customer of customers | orderByDate:'createdAt':'DESC'" [customer]="customer"></app-customer-plate>
		</div>
	</div>

</div>