<form [formGroup]="form" novalidate>
	<input formControlName="name" type="text" placeholder="name">
	<input formControlName="description" type="text" placeholder="desc">
	<button (click)="addCustomer()">
		ADD
	</button>
</form>

<table>
	<tr>
		<th>name</th>
		<th>desc</th>
		<th>uuid</th>
		<th>action</th>
	</tr>

	<tr *ngFor="let customer of customers">
		<td class="p--10">{{customer.name}}</td>
		<td class="p--10">{{customer.description}}</td>
		<td class="p--10">{{customer.customerUUID}}</td>
		<td class="p--10">
			<button (click)="deleteCustomer(customer.customerUUID)">DEL</button>
		</td>
	</tr>


</table>

<form *ngIf="customers.length > 1">
	<input name="name" type="text" [(ngModel)]="customers[1].name">
	<input name="description" type="text" [(ngModel)]="customers[1].description">
	<button (click)="updateCustomer()">UPD</button>
</form>

