app-root {
	height: 100%;
	display: block;

	.app-content {
		height: calc(100% - 70px);
		width: 100%;

		.centeredContent {
			height: 100%;
			width: 100%;
			display: block;

			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		}
	}

	.topNavBar{
		width: 100%;
		height: 70px;
		background-color: $cl-secondary;

		h1 {
			font-size: $fs-xlarge;
		}

		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		.toolBar {
			@include flexbox();
			@include align-items(center);

			p {
				font-size: $fs-large;
			}
		}
		.toolBar.end {
			@include justify-content(flex-end);
		}
	}
}

// form elements
.textInput {
	border: none;
	border-radius: 0;
	-webkit-appearance: none;

	width: 100%;
	height: 40px;
	border-bottom: 2px solid $cl-primary;
	background-color: transparent;
	font-size: $fs-medium;
	padding: 10px 0 5px 0;
}
.textInput:invalid, .textInput.ng-invalid.ng-touched {
	background-color: transparent;
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: $cl-alert;
}

.btn {
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	text-decoration: none;

	display: block;
	padding: 5px 10px;
	font-size: $fs-medium;
	cursor: pointer;

	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
}
.btn[disabled] {
	cursor: default;
}
.btn--full {
	width: 100%;
}

.formGroup.ng-invalid.ng-touched {
	input {
		background-color: transparent;
		box-shadow: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-color: $cl-alert;
	}
}

.errorBar {
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

// helper

.icon--medium {
	padding: 10px;
	font-size: $fs-xlarge;
	cursor: pointer;
}

.w--400px {
	width: 100%;
	max-width: 400px;
}

.actionBar {

	@include flexbox();
	@include justify-content(flex-end);

}

.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}