app-root {
	height: 100%;
	display: block;

	.topNavBar {
		width: 100%;
		height: 70px;
		background-color: $cl-secondary;

		h1 {
			font-size: $fs-xlarge;
		}

		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		.toolBar {
			@include flexbox();
			@include align-items(center);

			p {
				font-size: $fs-large;
			}
		}
		.toolBar.end {
			@include justify-content(flex-end);
		}
	}

	.holder {
		display: block;
		height: calc(100% - 70px);
		width: 100%;
		position: relative;
		overflow: hidden;

		.app-content {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $cl-bright;

			-webkit-transition: left 250ms;
			-moz-transition: left 250ms;
			-o-transition: left 250ms;
			transition: left 250ms;

			.centeredContent {
				height: 100%;
				width: 100%;
				display: block;

				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
			}
		}

		app-menu {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
	}
	.holder.openMenu {
		.app-content {
			left: 200px;
		}
	}
}

// form elements
.textInput {
	border: none;
	border-radius: 0;
	-webkit-appearance: none;

	width: 100%;
	height: 40px;
	border-bottom: 2px solid $cl-primary;
	background-color: transparent;
	font-size: $fs-medium;
	padding: 10px 0 5px 0;
}

.textInput.ng-invalid.ng-touched {
	background-color: transparent;
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: $cl-alert;
}

.textInput[readonly] {
	border-color: transparent;
	cursor: default;
}

textarea {
	border: none;
	border-radius: 0;
	-webkit-appearance: none;

	width: 100%;
	min-height: 80px;
	border-bottom: 2px solid $cl-primary;
	resize: none;
}

.btn {
	border: none;
	border-radius: 2px;
	-webkit-appearance: none;
	text-decoration: none;

	display: block;
	padding: 5px 10px;
	font-size: $fs-medium;
	cursor: pointer;

	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
}

.btn[disabled] {
	cursor: default;
}

.btn--full {
	width: 100%;
}

.btn--flat {
	@extend .btn;
	font-size: 14px;
	padding: 5px 16px;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 600;
}

.btn--flat:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.btn--flat[disabled] {
	opacity: 0.5;
}

.btn--flat[disabled]:hover {
	background-color: transparent;
}

.formGroup.ng-invalid.ng-touched {
	input {
		background-color: transparent;
		box-shadow: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-color: $cl-alert;
	}
}

.errorBar {
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.infoChip {

	padding: 8px 12px;
	border-radius: 16px;

	@include flexbox();
	@include align-items(center);

	.material-icons {
		font-size: 16px;
	}

}

.cardStyle {
	margin: 10px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	min-height: calc(100% - 20px);
	position: relative;

	@include flexbox();
	@include flex-wrap(wrap);

	form {
		width: 100%;
	}

	.cardHeader {
		padding: 10px;
		width: 100%;

		@include align-self(flex-start);
		@include flexbox();
		@include align-items(center);

		i {
			font-size: 36px;
			margin-right: 10px;
		}
		.headerContent {
			width: calc(100% - 46px);
		}
	}

	.cardContent {
		width: 100%;
		padding: 10px;

		p {
			line-height: 150%;
		}
	}

	.cardFooter {
		width: 100%;
		padding: 10px;

		@include align-self(flex-end);
		@include flexbox();
		@include justify-content(space-between);

		div {
			@include flexbox();
		}
	}

	.dialogOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.95);

		@include flexbox();
		@include justify-content(center);
		@include flex-direction(column);

		.overlayAction {
			@include flexbox();
			@include justify-content(center);
		}
	}
}

// helper

.icon--medium {
	padding: 10px;
	font-size: $fs-xlarge;
	cursor: pointer;
}

.w--400px {
	width: 100%;
	max-width: 400px;
}

.actionBar {

	@include flexbox();
	@include justify-content(flex-end);

}

.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.cardItemHolder {
	@include flexbox();
	@include flex-wrap(wrap);

	app-customer-plate {
		width: 50%;
	}
}

.menuContainer {
	width: 200px;
	height: 100%;
	background-color: $cl-primary;

	ul {
		width: 100%;
		li {
			width: 100%;
			border-bottom: 1px solid $cl-bright;
			a {
				text-decoration: none;
				width: 100%;
				color: $cl-bright;
				padding: 15px 10px;
				display: block;
				cursor: pointer;
			}
		}
	}
}